body {
    padding: 0 !important;
}

.z-navbar {
    padding: 0;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.z-navbar ul {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 0;
}

.z-navitem {
    vertical-align: bottom;
}

.z-navbar ul, .z-navbar .z-navitem-selected .z-navitem-content {
    background: #a6c307;
    color: white;
}

.z-navitem-content {
    color: white;
    height: auto;
    padding-bottom: 16px;
}

.z-navbar-horizontal li {
    margin: 0;
    margin-right: 16px !important;
    min-width: auto;
}

.z-navitem i {
    font-size: 18px;
    width: auto;
    height: auto;
    margin-right: 8px;
}

.z-navitem-content:hover {
    color: #377322;
}

.z-navbar-horizontal .z-navitem-selected {
    border-bottom: 2px solid #377322 !important;
}

.z-navbar-horizontal .z-navitem-selected .z-navitem-content {
    color: #377322 !important;
}

.view-content {
    padding: 64px;
}

.title {
    font-weight: bold;
    font-size: 32px;
    color: #a6c307;
}

.home-logo {
    margin-bottom: 16px;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-size: 14px;
    font-style: italic;
}


.actions-section {
    margin-top: 32px;
    margin-bottom: 16px;
    height: 40px;
}

.actions-section table{
    float: right;
}

.z-button {
    background: #377322;
}

.z-button:hover, .z-button:active, .z-button:focus {
    background-color: #57a53c;
}

.z-button i {
    color: #a6c307;
}

.z-listbox-header {
  background: #a6c307;
}

.z-listbox-header .z-listheader {
  border-left: none;
  border-bottom: none;
  background: inherit;
}

.z-listbox-header-border {
  border-bottom: none !important;
}

.crud-form .z-hlayout .z-hlayout-inner:first-child {
    width: 100px;
}

.crud-form .z-hlayout {
    margin-top: 8px;
}

.crud-form input {
  width: 296px;
}

.crud-form span {
  line-height: 34px;
}

.crud-actions {
    margin-top: 16px;
    text-align: right;
}

.crud-actions button{
    width: 145.5px;
}

.z-window {
    background: white;
}

.z-textbox:focus, .z-decimalbox:focus, .z-intbox:focus, .z-longbox:focus, .z-doublebox:focus {
    border-color: #a6c307;
}

.z-window-header {
    color: #9cbd0c;
    font-size: 20px;
}
